@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: theme("colors.light.primary");
  --foreground-light: theme("colors.light.text");
  --background-dark: theme("colors.dark.primary");
  --foreground-dark: theme("colors.dark.text");
}

* {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none; /* IE and Edge */
  overflow: -moz-scrollbars-none; /* Older Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
  }
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}

html,
body {
  @apply bg-light-primary text-light-text;
}
.dark-mode html,
.dark-mode body {
  @apply bg-dark-primary text-dark-text;
}
.word-wrap {
  word-wrap: break-word; /* For older browsers */
  overflow-wrap: break-word; /* For modern browsers */
  word-break: break-all; /* Breaks long words at any character */
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
